img(src='http://spinnakr.com/blog/wp-content/uploads/2013/02/Founding-Father-Octocat.jpg' height = 300 width = 300)

<a href ="/auth/github"> Login with Github </a>
br
<a href ="/auth/facebook"> Login with Facebook (only needed for taunts) </a>
